@model musiclibrary2.Models.RentData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdby_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdby_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdby_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdby_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifiedby_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifiedby_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifiedby_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifiedby_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleteby_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleteby_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleteby_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleteby_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
