<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Media", "Media", "Home")</li>
                    <li>@Html.ActionLink("Admin", "MasterPage", "Admin")</li>
                    <li>@Html.ActionLink("Registration", "UserRegistrationform", "Home")</li>

                </ul>


                <ul class="nav navbar-nav navbar-right">


                    @{
                        if (@HttpContext.Current.Session["adminname"] != null)
                        {
                            <li><a href="#" style="color:green">@HttpContext.Current.Session["adminname"].ToString();</a></li>

                        }
                        else if (@HttpContext.Current.Session["UserName"] != null)
                        {
                            <li><a href="#" style="color:green">@HttpContext.Current.Session["UserName"]..ToString();</a></li>

                        }
                    }


                    @{
                        if (@HttpContext.Current.Session["adminname"] != null)
                        {
                            <li>@Html.ActionLink("Admin", "MasterPage", "Admin")</li>

                            <li>@Html.ActionLink("LogOut", "logout", "Login")</li>
                        }

                        else if (@HttpContext.Current.Session["UserName"] != null)
                        {
                            <li>@Html.ActionLink("LogOut", "logout", "Login")</li>

                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Index", "Login")</li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <script src="~/Scripts/jquery1.js"></script>

            <script src="~/Scripts/validate1.js"></script>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
