@model IEnumerable<CarRentals.Models.RentalViewModel>


@{
    ViewBag.Title = "Index";
}

<div class="row">

    <div class="col-sm-4">

        @using (Html.BeginForm("save", "Rent", FormMethod.Post, new { id = "popupForm" }))
        {
            <div>
                <h1>Car Rentail</h1>
            </div>

            <div>
                <div class="form-group">
                    <label class="form-label">Car No</label>
                    <select class="form-control" id="carid" name="carid" placeholder="carNo" required>
                        <option>Please Select</option>
                    </select>

                </div>

                <div class="form-group">
                    <label class="form-label">Customer Id</label>
                    <input type="text" id="custid" name="custid" class="form-control" placeholder="customerId" required />

                </div>

                <div class="form-group">
                    <label class="form-label">Customer Name</label>
                    <input type="text" id="custname" name="custname" class="form-control" placeholder="customername" required />

                </div>


                <div class="form-group">
                    <label class="form-label">Rentail Fee</label>
                    <input type="text" id="fee" name="fee" class="form-control" placeholder="RentailFee" required />
                </div>



                <div class="form-group">
                    <label class="form-label">Start Date</label>
                    <input type="date" id="sdate" name="sdate" class="form-control" placeholder="start date" required />
                </div>



                <div class="form-group">
                    <label class="form-label">End Date</label>
                    <input type="date" id="edate" name="edate" class="form-control" placeholder="end date" required />
                </div>




                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Save" />
                </div>


            </div>

        }
    </div>
    <div class="col-sm-8">
        <table class="table">
            <tr>
                <th>CarNo</th>
                <th>CustomerID</th>
                <th>Fee</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Avaliable</th>
            </tr>

            @foreach(var item in  Model)
            {
                <tr>
                    <td>@item.carid</td>
                    <td>@item.custid</td>
                    <td>@item.fee</td>
                    <td>@item.sdate</td>
                    <td>@item.edate</td>
                    <td>@item.available</td>
                </tr>
            }
        </table>
    </div>
</div>




<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    getCar();
    load();
    function load() {
        $("#custid").attr("disabled", "disabled");
        $("#custname").attr("disabled", "disabled");
        $("#fee").attr("disabled", "disabled");
        $("#sdate").attr("disabled", "disabled");
        $("#edate").attr("disabled", "disabled");

    }



    function getCar() {
        $.ajax({

            type: 'GET',
            url: '/Rent/Getcar',
            datatype: 'JSON',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#carid").append($("<option>", {
                        text: data[i].carno
                    }));
                }
            }

        });

    }


    $("#carid").change(function () {

        available();

    });

    function available() {

        $.ajax({

            type: 'POST',
            url: '/Rent/Getavail?carno=' + $("#carid").val(),
            datatype: 'JSON',
            success: function (data) {
                var aval = data;

                if (aval == "Yes") {

                    $("#custid").removeAttr("disabled");
                    $("#custname").removeAttr("disabled");
                    $("#fee").removeAttr("disabled");
                    $("#sdate").removeAttr("disabled");
                    $("#edate").removeAttr("disabled");
                }
                else {
                    $("#custid").attr("disabled", "disabled");
                    $("#custname").attr("disabled", "disabled");
                    $("#fee").attr("disabled", "disabled");
                    $("#sdate").attr("disabled", "disabled");
                    $("#edate").attr("disabled", "disabled");
                }

            }

        });

    };

</script>

<script>
    getCust();

    function getCust() {
        $("#custid").keyup(function (e) {

            $.ajax({

                type: 'POST',
                url: '/Rent/Getid?id=' + $("#custid").val(),
                datatype: 'JSON',
                success: function (data) {
                    $("#custname").val(data)

                }

            });

        });

    }
</script>


